/* Setting Font & Utility */
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
    margin-bottom: 300px;
    padding: 0;
    width: 100%;
    background-color: rgb(160, 160, 59);
    background: url("../img/bg.jpg");
    background-size: cover;
}
a{
    text-decoration: none;
    color: inherit;
}





/* CSS */
.text-center{
    text-align: center;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.justify-content-space-around{
    justify-content: space-around;
}
.justify-content-space-evenly{
    justify-content: space-evenly;
}

.container{
    width: 100%;
}

.container-fluid{
    width: 90%;
}


/* Navbar */
.nav{
    color: #eee;
    height: 100px;
    /* background: linear-gradient(180deg, #7DE5ED, rgba(0,0,0,0)); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.brand{
    width: 30%;
    text-align: center;
}
.sub-nav{
    width: 60%;
    font-size: 16;
    display: flex;
    justify-content: end;
    overflow: hidden;
}
.nav-list{
    padding: 0 15px;
    height: 40px;
    margin: 0 10px;
    text-align: center;
    display: flex;
    align-items: center;
    border-radius: 20px;
    box-sizing: border-box;
    transition: .3s;
}
.nav-list:hover{
    background-color: #5DA7DB;
    cursor: pointer;
}
.profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #5DA7DB;
}







.inputArea{
    /* width: 100%; */
    margin: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input#userInput{
    text-align: center;
    min-width: 200px;
    height: 44px;
    padding: 10px;
    background-color: #5DA7DB;
    border-radius: 20px;
    border: 3px solid rgba(255, 255, 255, .8);
}
input::placeholder{
    color: #eee;
}
input#userInput.wrong{
    background-color: rgba(255, 0, 0, .7);
}



/* Timer */
.timer{
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.timerTeks{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #5DA7DB;
    border-radius: 20px;
}


.score{
    opacity: 1;
    padding: 25px;
    width: 40%;
    height: 400px;
    background-color: #5DA7DB;
    border-radius: 20px;
}


